[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbx = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-bdd = "*"
setuptools = "*"
dbx = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.8.10"